
.contact-form{
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    justify-content: center;
    align-items: stretch;
    padding: 1em;
}
.form-head{
    color: #673ab7;
    display: flex;
    justify-content: center;
}

.full-width{
    width:100%;
}

.submit-button{
    display: flex;
    justify-content: flex-end;
}

.submitted {
  animation: party 5000ms infinite;
}
